/*? 웹 문서 작성 시 기본 CSS 설정 */

* {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

img {
    border: 0;
}

a {
    text-decoration: none;
    color: black;
}

#wrap {
    width: 100%;
}


/*! 헤더영역 */
#header {
    width: 100%;
    height: 100px;
}

#header_in {
    margin: 0 auto;
    width: 1300px;
    height: 100px;
    display: flex;
    justify-content: space-around;
}

.logo {
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.nav {
    display: flex;
    align-items: center;
    margin-left: 60px;
}

.nav_in {
    display: flex;
    justify-content: space-around;
    color: black;
    font-size: 18px;
    font-weight: bold;
    width: 600px;
}

.signin {
    width: 400px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.signin ul {
    display: flex;
    font-size: 14px;
    justify-content: flex-end;
    margin-top: 18px;
}

.signin ul li+li {
    padding-left: 14px;
}


#search_box {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 18px;
}

#input_search {
    height: 28px;
    width: 50%;
    border: rgb(175, 175, 175) solid 1px;
}

/*! 메인영역 */
#advice {
    width: 100%;
    height: 100%;
    background: url(/Assignment/lawyer/images/bg_main_sect1.jpg);
    background-size: cover;
    position: relative;
    display: block;
}

#advice_h {
    margin: 0 auto;
    width: 1200px;
    height: 260px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#advice_b {
    position: relative;
    display: flex;
    margin: 0 auto;
    width: 1200px;
    height: 490px;
}

#advice_b #banner {
    height: 100%;
    width: auto;
    border-radius: 6px;
}

#consult {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.home {
    width: 235px;
    height: 260px;
    background-color: rgb(164, 226, 255);
    border-radius: 4px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.home img {
    width: 35%;
}

.accident {
    width: 235px;
    height: 260px;
    background-color: rgb(153, 168, 255);
    border-radius: 4px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.accident img {
    width: 40%;
}

.crime {
    width: 235px;
    height: 260px;
    background-color: rgb(126, 145, 255);
    border-radius: 4px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.crime img {
    width: 40%;
}

.more_law_box {
    position: relative;
    background-color: white;
    width: 98%;
    height: 220px;
    border-radius: 6px;
}

.more {
    display: flex;
    background-color: rgb(133, 146, 153);
    color: white;
    height: 23%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    align-items: center;
    justify-content: space-between;
}

.more span {
    padding-left: 40px;
}

.more_next_prev {
    padding-right: 20px;
}
.more_next_prev img {
    padding-right: 20px;
}

.more_law {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}

.box {
    margin-top: 10px;
    height: 150px;
    width: 130px;
    flex-direction: column;
    align-items: center;
    box-shadow: 13px 0px 20px -20px;
}

.box span {
    padding-bottom: 20px;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#search {
    width: 100%;
    height: 750px;
    background: url(/Assignment/lawyer/images/bg_main_sect2.jpg);
    background-size: cover;
}

#search_h {
    margin: 0 auto;
    width: 1200px;
    height: 260px;
    background-color: brown;
}

#search_b {
    margin: 0 auto;
    width: 1200px;
    height: 490px;
    background-color: pink;
}

#news {
    width: 100%;
    height: 750px;
    background-color: blue;
}

#news_h {
    margin: 0 auto;
    width: 1200px;
    height: 260px;
    background-color: brown;
}

#news_b {
    margin: 0 auto;
    width: 1200px;
    height: 490px;
    background-color: pink;
}


#board {
    width: 100%;
    height: 750px;
    background-color: orange;
}

#board_h {
    margin: 0 auto;
    width: 1200px;
    height: 260px;
    background-color: brown;
}

#board_b {
    margin: 0 auto;
    width: 1200px;
    height: 490px;
    background-color: pink;
}


/*! 푸터영역 */
#footer {
    width: 100%;
    height: 260px;
    background-color: yellowgreen;
}